<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h1>Tip calculator</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <form action="/result">
        <div class="form-group">
          <label for="amount">Amount</label>
          <input type="text" class="form-control" id="amount" name="amount" placeholder="$50.87">
        </div>
        <div class="form-group">
          <label for="tip">Tip percentage</label>
          <div class="radio">
            <label>
              <input type="radio" name="tip" id="" value="10" checked>
              10%
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="tip" id="" value="15">
              15%
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="tip" id="" value="20">
              20%
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="num_people">num_people</label>
          <input type="text" class="form-control" id="num_people" name="num_people" placeholder="2">
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <footer></footer>
    </div>
  </div>
</div>
