<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>The total amount with tip is: $ </h1>
        <h2>Each person pays: $</h2>
      </div>
    </div>
  </div>
</div>
