<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Add a tip of $ to bring your total amount to $</h3>
        <h3>Each person tips: $</h3>
      </div>
    </div>
  </div>
</div>
